:root {
    --primary-50: #F0FAFF;
    --primary-100: #E0F6FF;
    --primary-200: #B8EAFF;
    --primary-300: #8ADCFF;
    --primary-400: #52CBFF;
    --primary-500: #00B3FF;
    --primary-600: #00A4EB;
    --primary-700: #008FCC;
    --primary-800: #0076A8;
    --primary-900: #00567A;
    --primary-950: #003D57;
    --secondary-50: #FEF6F7;
    --secondary-100: #FDECEE;
    --secondary-200: #FBDADE;
    --secondary-300: #F9C3C9;
    --secondary-400: #F7ACB4;
    --secondary-500: #F38B97;
    --secondary-600: #EF6172;
    --secondary-700: #DE162E;
    --secondary-800: #770C19;
    --secondary-900: #530811;
    --secondary-950: #38060B;
    --ff-display: "Oxygen";
    --ff-text: "Inter";
}