
:root {
	--primary-50: #ECF7F9;
	--primary-100: #D9EFF2;
	--primary-200: #B2DFE6;
	--primary-300: #8CCFD9;
	--primary-400: #66BFCC;
	--primary-500: #3FADBF;
	--primary-600: #338C99;
	--primary-700: #266973;
	--primary-800: #19464D;
	--primary-900: #0D2326;
	--primary-950: #061113;
	--secondary-50: #ECEEF9;
	--secondary-100: #D9DDF2;
	--secondary-200: #B2BAE6;
	--secondary-300: #8C98D9;
	--secondary-400: #6675CC;
	--secondary-500: #3F52BF;
	--secondary-600: #334299;
	--secondary-700: #263273;
	--secondary-800: #19214D;
	--secondary-900: #0D1126;
	--secondary-950: #060813;
--ff-display: "Oxygen";--ff-text: "Inter";}
